In [1]:
pip  install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
print(os.getcwd())

/kaggle/working

In [3]:
import os
print(os.path.exists('sales-data-xlsx'))

#The excel file wasn't opening. I was getting some errors.
#Checking if the file exists: Use the os.path.exists() function to verify if the file actually exists at the specified path. 
#This will help confirm whether the issue lies in the file path or elsewhere.

False

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

The error indicated that the openpyxl module was not found, which is required by pandas to read Excel files. 
This happens because openpyxl is an optional dependency of pandas for working with Excel files.
After installing openpyxl, tried to run the code again, and it should work without errors.

In [5]:
import pandas as pd

# Carregar o arquivo Excel em um DataFrame pandas
df = pd.read_excel('/kaggle/input/sales-data-xlsx/sales data.xlsx')

# Exibir as primeiras linhas do DataFrame
print(df.head())

    country  order_value_EUR       cost                 date     category  \
0    Sweden         98320.37   77722.25            8/23/2020        Games
1    France         46296.26   40319.41            5/15/2020        Games
2  Portugal        140337.34  115708.14  2020-04-09 00:00:00   Appliances
3    France        203604.46  175344.16            6/26/2019  Electronics
4        UK         63979.04   56032.84           10/22/2019        Games

     customer_name    sales_manager            sales_rep device_type  \
0   Konopelski LLC     Maxie Marrow   Tarrah Castelletti      Tablet
1       Wisoky Inc    Othello Bowes  Amelina Piscopiello      Tablet
2    Hegmann Group  Celine Tumasian        Corene Shirer          PC
3  Kirlin and Sons    Othello Bowes         Crysta Halls      Mobile
4   Schoen-Keeling  Jessamine Apark   Genevra Charrisson          PC

     order_id
0  70-0511466
1  77-3489084
2  65-8218141
3  29-5478106
4  27-3437546

In [6]:
import pandas as pd

#I'll add my excel file 
excel_file = '/kaggle/input/sales-data-xlsx/sales data.xlsx'

# Load the Excel file into a pandas DataFrame
df = pd.read_excel(excel_file)

# Display the first 5 rows of the DataFrame
df.head()

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [7]:
# Check for missing values in the entire DataFrame
missing_values = df.isnull().sum()

# Print the count of missing values for each column
print("Missing values in the dataset:")
print(missing_values)

Missing values in the dataset:
country            0
order_value_EUR    5
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        5
order_id           0
dtype: int64

I will use the SimpleImputer class from the sklearn.impute module to impute missing values in a dataset.

In [8]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
target_column = "order_value_EUR"

#Creating a SimpleImputer instance to impute missing values with a strategy, (e.g., "mean", "median", "most_frequent").
#Others strategies include "constant" to replace missing values with a constant value

imputer = SimpleImputer(strategy='median')

#Fit the imputer on the selected column and transform it to impute missing values
df[target_column] = imputer.fit_transform(df[[target_column]])

When we use df[[target_column]], we are passing a list of a single column to the fit_transform() method, which is necessary to ensure that the imputer works correctly. If we used just df[target_column], we would be passing a Series, which would result in an error.

In [11]:
df.isnull().sum()

country            0
order_value_EUR    0
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        5
order_id           0
dtype: int64

The variable order_value_EUR there isn't no missing value right now.

In [12]:
df.device_type

0       Tablet
1       Tablet
2           PC
3       Mobile
4           PC
         ...
996         PC
997     Tablet
998     Tablet
999         PC
1000        PC
Name: device_type, Length: 1001, dtype: object

In [13]:
# Check for missing values in the 'device_type' column
missing_values = df['device_type'].isnull().sum()
# If there are missing values, replace them with the most frequent category
if missing_values > 0:
    most_frequent_category = df['device_type'].mode()[0]
    df['device_type'].fillna(most_frequent_category, inplace=True)

In [14]:
df.isnull().sum()

country            0
order_value_EUR    0
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        0
order_id           0
dtype: int64

If missing_values > 0:: This line checks if there are missing values in the 'device_type' column. If missing_values is greater than 0, it means there are missing values, and the code inside the if block will be executed.

most_frequent_category = df['device_type'].mode()[0]: This line calculates the most frequent category in the 'device_type' column. The mode() method returns a Series containing the mode(s) of the column, and [0] is used to get the first value of the series, which is the most frequent mode.

df['device_type'].fillna(most_frequent_category, inplace=True): This line replaces the missing values in the 'device_type' column with the previously calculated most frequent category. The fillna() method is used to fill the missing values with the specified value (in this case, most_frequent_category). The parameter inplace=True indicates that the changes should be made directly to the DataFrame df, without needing to assign the result back to df.

In summary, this code checks if there are missing values in the 'device_type' column, calculates the most frequent category, and if there are missing values, it replaces them with the most frequent category. This is useful for handling missing values in categorical columns.

In [15]:
df.dtypes

country             object
order_value_EUR    float64
cost                object
date                object
category            object
customer_name       object
sales_manager       object
sales_rep           object
device_type         object
order_id            object
dtype: object

In [16]:
# Sample variable containing mixed data
mixed_data = df['cost']

#Create an empty list to store non-numeric values
non_numeric_values = []

# Iterate through the elements in the variable
for value in mixed_data:
    if isinstance(value, str) and not value.isnumeric():
        non_numeric_values.append(value)

# Print the non-numeric values:
print("Non-Numeric Values:")
print(non_numeric_values)

Non-Numeric Values:
['XXX']

In [17]:
mask = (df['cost'] == 'XXX')

# Remove rows that match the mask
df = df[~mask]

In [18]:
df.loc[:, 'cost'] = df['cost'].astype(float)


# Print the Dataframe with the corrected data type
print(df.dtypes)

country             object
order_value_EUR    float64
cost                object
date                object
category            object
customer_name       object
sales_manager       object
sales_rep           object
device_type         object
order_id            object
dtype: object

In [19]:
df['date'] = df['date'].astype('datetime64[ns]')

In [20]:
df.dtypes

country                    object
order_value_EUR           float64
cost                       object
date               datetime64[ns]
category                   object
customer_name              object
sales_manager              object
sales_rep                  object
device_type                object
order_id                   object
dtype: object

In [21]:
df.head()

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,2020-08-23,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,2020-05-15,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,2019-06-26,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,2019-10-22,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [22]:
# Check for duplicates
duplicates = df[df.duplicated()]

# Print duplicate rows
print("Duplicates Rows:")
duplicates

Duplicates Rows:

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
23,UK,63979.04,56032.84,2019-10-22,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [23]:
# Remove duplicates
df_unique = df.drop_duplicates()

# Drop duplicates based on specific columns
print("DataFrame without Duplicates:")
df_unique

DataFrame without Duplicates:

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,2020-08-23,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,2020-05-15,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,2019-06-26,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,2019-10-22,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
...,...,...,...,...,...,...,...,...,...,...
996,France,69126.50,55902.6,2019-08-12,Electronics,"Farrell, Swaniawski and Crist",Othello Bowes,Avrit Chanders,PC,07-3201531
997,France,140943.88,120633.87,2020-05-28,Appliances,Armstrong-Little,Othello Bowes,Avrit Chanders,Tablet,77-0650807
998,France,124784.67,106853.11,2020-05-22,Electronics,"Swaniawski, Runolfsson and Green",Othello Bowes,Ora Grennan,Tablet,44-2757396
999,Germany,61968.26,50690.04,2020-12-27,Electronics,Romaguera-Dietrich,Rickard Doogood,Casie MacBain,PC,22-7259031
1000,Netherlands,172453.10,145688.38,2020-06-24,Outdoors,Kirlin and Sons,Denice Amberg,Nero Harbisher,PC,60-6986682

In [24]:
cleaned_data = df_unique

In [25]:
cleaned_data.head()

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,2020-08-23,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,2020-05-15,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,2019-06-26,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,2019-10-22,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [26]:
# Check for missing values in the device_type column
missing_values = df['device_type'].isnull().sum()

In [27]:
# Print the number of missing values
print("Number of missing values in device_type:", missing_values)

Number of missing values in device_type: 0